
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --font-font-sans: var(--font-sans);
  --font-font-heading: var(--font-heading);
  --font-font-serif: var(--font-serif);
  --font-font-mono: var(--font-mono);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
  
:root {
    --background: #f5f7fa;
  --foreground: #1f2937;
  --primary: #1ba8fa;
  --primary-foreground: #ffffff;
  --secondary: #ffffff;
  --secondary-foreground: #374151;
  --muted: #e5e7eb;
  --muted-foreground: #6b7280;
  --accent: #f0f9ff;
  --accent-foreground: #0284c7;
  --destructive: #ef4444;
  --card: #ffffff;
  --card-foreground: #1f2937;
  --popover: #ffffff;
  --popover-foreground: #1f2937;
  --border: #e5e7eb;
  --input: #ffffff;
  --ring: #1ba8fa;
  --chart-1: #1ba8fa;
  --chart-2: #f472b6;
  --chart-3: #fb923c;
  --chart-4: #a78bfa;
  --chart-5: #34d399;

  --font-sans: "Inter";
  --font-heading: "Inter";
  --font-serif: "Playfair Display";
  --font-mono: "JetBrains Mono";

  --radius: 0.25rem;
}
